@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgb(32, 188, 209);
    color: white;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    flex-grow: 1;
    font-size: 2em;
}

.logoprincipal {
    position: absolute;
    left: 20px;
    width: 40px;
}

header h1 {
    font-size: 100px;
}

.logoprincipal {
    width: 50px;
    height: 50px;
}

.redessociais